body {
  background-color: rgba(24, 27, 29, 0.637);
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-left: 30px;
  padding-right: 30px;
  min-height: 100vh;
  background-color: rgb(27, 31, 34);
}
#browseBTN {
  margin-bottom: 15px;
}
#imgDis {
  width: 300px;
  height: 320px;
  border: 2px solid black;
}
#submitBTN {
  margin-top: 10px;
  border: 1px solid black;
}

#infoField {
  margin-top: 5px;
  resize: none;
}

/* input[type="file"] {
} */
